@charset "UTF-8";
/* line 1, ../scss/_common.scss */
body {
  font-family: "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif !important; }

/* line 6, ../scss/_common.scss */
.wrap {
  width: 950px;
  margin: 0 auto 0; }
  @media screen and (max-width: 767px) {
    /* line 6, ../scss/_common.scss */
    .wrap {
      margin: 0 auto;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box; } }

/* line 16, ../scss/_common.scss */
p {
  font-size: 15px;
  line-height: 2em !important;
  letter-spacing: 0.1em;
  color: #4D4D4D; }

@media screen and (max-width: 767px) {
  /* line 22, ../scss/_common.scss */
  .pc {
    display: none; } }

/* line 27, ../scss/_common.scss */
.sp {
  display: none; }
  @media screen and (max-width: 767px) {
    /* line 27, ../scss/_common.scss */
    .sp {
      display: inherit; } }

/* line 33, ../scss/_common.scss */
a {
  text-decoration: none; }

/* line 36, ../scss/_common.scss */
a:hover {
  opacity: 0.7; }

/* line 1, ../scss/_header.scss */
header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  z-index: 10;
  position: fixed;
  padding: 5px 0 !important;
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.1); }
  /* line 15, ../scss/_header.scss */
  header .logo {
    width: 230px;
    margin: 5px;
    margin-left: 20px; }
    @media screen and (max-width: 767px) {
      /* line 15, ../scss/_header.scss */
      header .logo {
        width: 200px;
        margin-left: 12px; } }
  /* line 25, ../scss/_header.scss */
  header .cover {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    /* line 29, ../scss/_header.scss */
    header .cover .tel_info {
      display: flex;
      justify-content: space-between; }
      @media screen and (max-width: 767px) {
        /* line 29, ../scss/_header.scss */
        header .cover .tel_info {
          width: 100%;
          z-index: 20;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          box-sizing: border-box;
          background-color: #278CBC; } }
      /* line 44, ../scss/_header.scss */
      header .cover .tel_info .tel_time {
        margin: auto 0; }
        @media screen and (max-width: 767px) {
          /* line 44, ../scss/_header.scss */
          header .cover .tel_info .tel_time {
            width: 190px; } }
        /* line 49, ../scss/_header.scss */
        header .cover .tel_info .tel_time P {
          font-size: 13px;
          line-height: 1.5em !important;
          margin-right: 20px; }
          @media screen and (max-width: 767px) {
            /* line 49, ../scss/_header.scss */
            header .cover .tel_info .tel_time P {
              font-size: 11px;
              letter-spacing: normal;
              margin-right: 12px;
              color: white; } }
    /* line 62, ../scss/_header.scss */
    header .cover .menu_btn {
      width: 50px;
      margin-right: 10px; }
      @media screen and (max-width: 767px) {
        /* line 62, ../scss/_header.scss */
        header .cover .menu_btn {
          width: 40px; } }
    /* line 69, ../scss/_header.scss */
    header .cover .menu_btn:hover {
      cursor: pointer; }

/* line 76, ../scss/_header.scss */
#header_photo img {
  margin-top: -60px;
  padding-top: 60px; }
  @media screen and (max-width: 767px) {
    /* line 76, ../scss/_header.scss */
    #header_photo img {
      width: 100%; } }

/* line 1, ../scss/_footer.scss */
footer {
  background-color: #89C6D5;
  text-align: center;
  margin-top: 70px; }
  /* line 8, ../scss/_footer.scss */
  footer .footer_logo {
    width: 300px;
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      /* line 8, ../scss/_footer.scss */
      footer .footer_logo {
        width: 260px; } }
  /* line 15, ../scss/_footer.scss */
  footer .tel {
    width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; }
    /* line 22, ../scss/_footer.scss */
    footer .tel .tel_icon {
      width: 30px; }
    /* line 25, ../scss/_footer.scss */
    footer .tel p {
      color: white;
      font-size: 28px; }
  /* line 30, ../scss/_footer.scss */
  footer .tel_time {
    margin: 10px; }
    /* line 32, ../scss/_footer.scss */
    footer .tel_time p {
      line-height: 1.7em !important;
      color: white; }
  /* line 37, ../scss/_footer.scss */
  footer .access_info {
    margin-top: 20px; }
    /* line 39, ../scss/_footer.scss */
    footer .access_info p {
      line-height: 1.7em !important;
      color: white; }
      @media screen and (max-width: 767px) {
        /* line 39, ../scss/_footer.scss */
        footer .access_info p {
          line-height: 1.5em !important; } }
  /* line 47, ../scss/_footer.scss */
  footer .copyright {
    color: white;
    padding: 20px 0 5px;
    font-size: 12px; }

/* line 9, ../scss/_top.scss */
#top .fade img {
  margin-top: 70px;
  padding-top: -70px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    /* line 9, ../scss/_top.scss */
    #top .fade img {
      margin-top: 50px;
      padding-top: -50px; } }
/* line 20, ../scss/_top.scss */
#top .fade .catch {
  text-align: center;
  position: absolute;
  top: 300px;
  left: 300px; }
  /* line 25, ../scss/_top.scss */
  #top .fade .catch .name {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.1em; }
  /* line 30, ../scss/_top.scss */
  #top .fade .catch p {
    color: #278CBC; }
/* line 35, ../scss/_top.scss */
#top .middle_txt {
  padding: 20px; }
/* line 38, ../scss/_top.scss */
#top .cost {
  padding: 15px 40px; }
  @media screen and (max-width: 767px) {
    /* line 38, ../scss/_top.scss */
    #top .cost {
      display: flex;
      justify-content: space-around;
      padding: 15px 30px; } }
/* line 49, ../scss/_top.scss */
#top .keireki .more_btn_cover {
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 767px) {
    /* line 49, ../scss/_top.scss */
    #top .keireki .more_btn_cover {
      justify-content: center; } }
  /* line 55, ../scss/_top.scss */
  #top .keireki .more_btn_cover .more_btn {
    width: 250px;
    border-radius: 8px; }

@media screen and (max-width: 767px) {
  /* line 2, ../scss/_parts.scss */
  .tel_cover {
    width: 400px; } }

/* line 7, ../scss/_parts.scss */
.tel {
  display: flex;
  align-items: center; }
  /* line 17, ../scss/_parts.scss */
  .tel .tel_icon {
    width: 35px;
    margin-right: 10px; }
    @media screen and (max-width: 767px) {
      /* line 17, ../scss/_parts.scss */
      .tel .tel_icon {
        width: 13px;
        margin: 0 5px 0 10px; } }
  /* line 25, ../scss/_parts.scss */
  .tel .tap_txt {
    text-align: center;
    font-size: 12px;
    line-height: 1.4em !important; }
  /* line 31, ../scss/_parts.scss */
  .tel p {
    font-size: 28px;
    margin-right: 20px;
    font-weight: bold; }
    @media screen and (max-width: 767px) {
      /* line 31, ../scss/_parts.scss */
      .tel p {
        font-size: 20px;
        margin-right: 0;
        color: white;
        letter-spacing: normal; } }

/* line 43, ../scss/_parts.scss */
.title {
  text-align: center;
  margin: 50px 0 20px; }
  @media screen and (max-width: 767px) {
    /* line 43, ../scss/_parts.scss */
    .title {
      margin: 30px 0 20px; } }
  /* line 49, ../scss/_parts.scss */
  .title p {
    font-size: 30px;
    color: #278CBC;
    line-height: 1.5em !important; }
    @media screen and (max-width: 767px) {
      /* line 49, ../scss/_parts.scss */
      .title p {
        line-height: 1.4em !important;
        font-size: 27px; } }

/* line 59, ../scss/_parts.scss */
h1 {
  font-size: 30px !important;
  color: #278CBC;
  line-height: 1.5em !important; }
  @media screen and (max-width: 767px) {
    /* line 59, ../scss/_parts.scss */
    h1 {
      line-height: 1.7em !important;
      font-size: 26px !important;
      letter-spacing: 0.05em; } }

/* line 69, ../scss/_parts.scss */
.category_title {
  text-align: center;
  margin-top: 35px; }
  /* line 74, ../scss/_parts.scss */
  .category_title .category_txt {
    font-size: 30px;
    color: #278CBC; }
    @media screen and (max-width: 767px) {
      /* line 74, ../scss/_parts.scss */
      .category_title .category_txt {
        font-size: 27px; } }

/* line 84, ../scss/_parts.scss */
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
  flex-wrap: wrap; }
  @media screen and (max-width: 767px) {
    /* line 84, ../scss/_parts.scss */
    .flex_between {
      justify-content: center;
      padding-top: 0; } }

/* line 102, ../scss/_parts.scss */
.kobetsu_category_title {
  margin-top: 35px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #278CBC;
  display: flex; }
  /* line 112, ../scss/_parts.scss */
  .kobetsu_category_title .category_txt {
    font-size: 30px;
    color: #278CBC; }
    @media screen and (max-width: 767px) {
      /* line 112, ../scss/_parts.scss */
      .kobetsu_category_title .category_txt {
        font-size: 27px;
        width: 250px; } }
  /* line 120, ../scss/_parts.scss */
  .kobetsu_category_title .cost {
    width: 180px;
    padding-left: 30px; }
    @media screen and (max-width: 767px) {
      /* line 120, ../scss/_parts.scss */
      .kobetsu_category_title .cost {
        width: 370px; } }
  /* line 127, ../scss/_parts.scss */
  .kobetsu_category_title .cost2 {
    width: 180px;
    padding-left: 30px; }
  /* line 131, ../scss/_parts.scss */
  .kobetsu_category_title .flex_between {
    padding-top: 5px; }
    @media screen and (max-width: 767px) {
      /* line 131, ../scss/_parts.scss */
      .kobetsu_category_title .flex_between {
        justify-content: space-between; } }

/* line 139, ../scss/_parts.scss */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 144, ../scss/_parts.scss */
.txt_width {
  width: 470px; }

/* line 147, ../scss/_parts.scss */
.check_list {
  background-color: #F2F9F9;
  border-radius: 8px;
  padding: 15px 25px;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    /* line 147, ../scss/_parts.scss */
    .check_list {
      width: 100%; } }

/* line 156, ../scss/_parts.scss */
.photo_middle {
  width: 450px;
  border-radius: 8px; }
  @media screen and (max-width: 767px) {
    /* line 156, ../scss/_parts.scss */
    .photo_middle {
      width: 100%;
      margin-top: 25px; } }

/* line 164, ../scss/_parts.scss */
.photo_big {
  width: 570px;
  border-radius: 8px;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    /* line 164, ../scss/_parts.scss */
    .photo_big {
      width: 100%; } }

/* line 172, ../scss/_parts.scss */
.photo_small {
  width: 295px;
  border-radius: 8px; }
  @media screen and (max-width: 767px) {
    /* line 172, ../scss/_parts.scss */
    .photo_small {
      width: 100%;
      margin-top: 15px; } }

/* line 180, ../scss/_parts.scss */
.staff_photo {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #E6E6E6; }
  @media screen and (max-width: 767px) {
    /* line 180, ../scss/_parts.scss */
    .staff_photo {
      width: 150px; } }

/* line 190, ../scss/_parts.scss */
.staff_photo_cover {
  text-align: center;
  padding-top: 30px; }

/* line 195, ../scss/_parts.scss */
.big_txt {
  font-size: 25px;
  color: #278CBC;
  line-height: 1.5em !important; }

/* line 200, ../scss/_parts.scss */
.middle_txt {
  font-size: 20px;
  text-align: center;
  line-height: 1.7em !important; }

/* line 205, ../scss/_parts.scss */
.small_txt {
  font-size: 12px;
  margin-top: -10px; }

/* line 209, ../scss/_parts.scss */
.txt_bold {
  font-weight: bold; }

/* line 222, ../scss/_parts.scss */
.dotto_list li {
  line-height: 2em !important;
  letter-spacing: 0.1em !important;
  color: #4D4D4D;
  margin-left: 1.4em;
  text-indent: -1.4em; }
/* line 229, ../scss/_parts.scss */
.dotto_list li::before {
  content: "・";
  color: #278CBC;
  font-size: 20px;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    /* line 229, ../scss/_parts.scss */
    .dotto_list li::before {
      font-size: 18px;
      margin-top: 20px; } }

/* line 241, ../scss/_parts.scss */
.midashi00 {
  position: relative;
  display: inline-block;
  margin-bottom: 2em; }

/* line 246, ../scss/_parts.scss */
.midashi00:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #4D4D4D; }

/* line 259, ../scss/_parts.scss */
.midashi01 {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5em;
  line-height: 1.5em !important; }

/* line 265, ../scss/_parts.scss */
.midashi01:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 50px;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #278CBC; }

/* line 279, ../scss/_parts.scss */
.title_plus_mark {
  text-align: center;
  margin-top: 20px; }
  /* line 282, ../scss/_parts.scss */
  .title_plus_mark img {
    width: 55px; }
  /* line 285, ../scss/_parts.scss */
  .title_plus_mark p {
    margin-top: -45px;
    color: #278CBC;
    font-weight: bold;
    font-size: 17px; }

/* line 292, ../scss/_parts.scss */
.bgc-wh {
  background-color: #F2F9F9; }

/* line 295, ../scss/_parts.scss */
.background_color {
  background-color: #F2F9F9;
  padding-bottom: 45px; }

/* line 300, ../scss/_parts.scss */
.background_color02 {
  background-color: white;
  padding-bottom: 25px; }

/* line 305, ../scss/_parts.scss */
.border00 {
  border: 1px solid #ccc;
  padding-left: 20px; }

@media screen and (max-width: 767px) {
  /* line 310, ../scss/_parts.scss */
  .contact {
    text-align: center; } }
/* line 314, ../scss/_parts.scss */
.contact .contact_tel {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 767px) {
    /* line 314, ../scss/_parts.scss */
    .contact .contact_tel {
      justify-content: center; } }
  /* line 320, ../scss/_parts.scss */
  .contact .contact_tel p:nth-child(2) {
    font-size: 28px;
    margin-left: 15px;
    font-weight: bold; }

@media screen and (max-width: 767px) {
  /* line 327, ../scss/_parts.scss */
  .access {
    text-align: center; } }
@media screen and (max-width: 767px) {
  /* line 332, ../scss/_parts.scss */
  .access .line01 p {
    letter-spacing: normal; } }

@media screen and (max-width: 767px) {
  /* line 339, ../scss/_parts.scss */
  .access_title, .contact_title {
    font-size: 18px; } }

@media screen and (max-width: 767px) {
  /* line 344, ../scss/_parts.scss */
  .contact_title {
    margin-top: 40px; } }

/* line 350, ../scss/_parts.scss */
.line01 {
  border-top: 1px solid #B3B3B3;
  border-bottom: 1px solid #B3B3B3;
  margin-top: 5px;
  padding: 10px 0 20px; }

/* line 356, ../scss/_parts.scss */
.line02 {
  border-top: 1px solid #B3B3B3;
  padding: 15px; }

/* line 361, ../scss/_parts.scss */
.news {
  margin: 30px 0 50px; }
  /* line 363, ../scss/_parts.scss */
  .news .line02:last-child {
    border-bottom: 1px solid #B3B3B3; }

/* line 367, ../scss/_parts.scss */
.news_title {
  padding-bottom: 10px;
  font-size: 20px;
  color: #278CBC;
  font-weight: bold;
  line-height: 1.5em !important;
  letter-spacing: 0.05em; }
  /* line 374, ../scss/_parts.scss */
  .news_title span {
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px; }

/* line 382, ../scss/_parts.scss */
.medical_courses {
  width: 290px;
  height: 356px;
  background-color: white;
  border-radius: 8px; }
  @media screen and (max-width: 767px) {
    /* line 382, ../scss/_parts.scss */
    .medical_courses {
      margin-top: 30px; } }

/* line 391, ../scss/_parts.scss */
.course_naiyou {
  padding: 0 25px;
  line-height: 1.7em !important;
  height: 162px; }

/* line 397, ../scss/_parts.scss */
.insurance {
  border: 2px solid orange;
  border-radius: 8px;
  padding: 0 10px; }
  /* line 401, ../scss/_parts.scss */
  .insurance p {
    color: orange;
    font-size: 14px; }

/* line 406, ../scss/_parts.scss */
.own_cost {
  border: 2px solid #3498CC;
  border-radius: 8px;
  padding: 0 10px; }
  /* line 410, ../scss/_parts.scss */
  .own_cost p {
    color: #3498CC;
    font-size: 14px; }

/* line 416, ../scss/_parts.scss */
.more_btn {
  background-color: #89C6D5;
  text-align: center;
  padding: 5px 0;
  display: block;
  border-radius: 0 0 8px 8px;
  margin-top: 16px; }
  /* line 429, ../scss/_parts.scss */
  .more_btn p {
    color: white; }

/* line 444, ../scss/_parts.scss */
.point {
  margin-top: 50px; }
  @media screen and (max-width: 767px) {
    /* line 444, ../scss/_parts.scss */
    .point {
      margin-top: 30px; } }
  /* line 449, ../scss/_parts.scss */
  .point .point_title {
    display: flex;
    align-items: center;
    width: 875px; }
    @media screen and (max-width: 767px) {
      /* line 449, ../scss/_parts.scss */
      .point .point_title {
        width: 100%;
        flex-wrap: wrap; } }
    /* line 457, ../scss/_parts.scss */
    .point .point_title img {
      width: 80px;
      margin-right: 20px; }
      @media screen and (max-width: 767px) {
        /* line 457, ../scss/_parts.scss */
        .point .point_title img {
          width: 45px;
          margin-right: 5px; } }
    /* line 465, ../scss/_parts.scss */
    .point .point_title span {
      margin-right: 10px;
      font-size: 30px; }
    @media screen and (max-width: 767px) {
      /* line 469, ../scss/_parts.scss */
      .point .point_title .big_txt {
        margin: 10px 0;
        font-size: 21px;
        font-weight: bold; } }
    /* line 477, ../scss/_parts.scss */
    .point .point_title .point_icon {
      display: flex;
      align-items: center; }
      /* line 480, ../scss/_parts.scss */
      .point .point_title .point_icon .point_number {
        color: #278CBC; }
  /* line 485, ../scss/_parts.scss */
  .point .point_naiyou {
    width: 850px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #F8F8F8;
    padding: 25px 30px;
    box-sizing: border-box; }
    @media screen and (max-width: 767px) {
      /* line 485, ../scss/_parts.scss */
      .point .point_naiyou {
        width: 100%;
        padding: 20px; } }
    /* line 500, ../scss/_parts.scss */
    .point .point_naiyou .flex_between {
      padding-top: 0; }
      @media screen and (max-width: 767px) {
        /* line 500, ../scss/_parts.scss */
        .point .point_naiyou .flex_between {
          width: 100%; } }
      /* line 505, ../scss/_parts.scss */
      .point .point_naiyou .flex_between p {
        width: 475px; }
    /* line 509, ../scss/_parts.scss */
    .point .point_naiyou p {
      line-height: 1.7em !important; }

/* line 514, ../scss/_parts.scss */
.point:first-child {
  margin-top: 0; }

/* line 518, ../scss/_parts.scss */
.staff_name {
  font-size: 20px;
  margin-bottom: 10px; }
  @media screen and (max-width: 767px) {
    /* line 518, ../scss/_parts.scss */
    .staff_name {
      margin-bottom: 0 !important;
      margin-top: 20px; } }
  /* line 525, ../scss/_parts.scss */
  .staff_name .small_txt {
    margin-left: 20px;
    font-weight: normal; }

/* line 530, ../scss/_parts.scss */
.docter_name {
  text-align: center;
  margin-top: 10px; }
  /* line 533, ../scss/_parts.scss */
  .docter_name .small_txt {
    margin-top: -10px; }

/* line 537, ../scss/_parts.scss */
.staff_introduce {
  width: 450px; }
  @media screen and (max-width: 767px) {
    /* line 537, ../scss/_parts.scss */
    .staff_introduce {
      text-align: center;
      width: 100%; } }
  /* line 543, ../scss/_parts.scss */
  .staff_introduce .txt_bold {
    margin-bottom: 10px; }

/* line 547, ../scss/_parts.scss */
.keireki_title {
  text-align: center;
  padding-top: 40px; }

/* line 551, ../scss/_parts.scss */
.keire_naiyou {
  padding: 15px 0; }

/* line 554, ../scss/_parts.scss */
.keireki_plus_style {
  background-color: white;
  border-radius: 8px;
  padding: 20px 50px;
  margin-top: 30px; }
  @media screen and (max-width: 767px) {
    /* line 554, ../scss/_parts.scss */
    .keireki_plus_style {
      padding: 20px 25px; } }
  /* line 562, ../scss/_parts.scss */
  .keireki_plus_style .keireki_title {
    padding-top: 0; }

/* line 566, ../scss/_parts.scss */
.keireki_plus_style02 {
  background-color: #F2F9F9;
  border-radius: 8px;
  padding: 20px 50px;
  margin-top: 30px; }
  @media screen and (max-width: 767px) {
    /* line 566, ../scss/_parts.scss */
    .keireki_plus_style02 {
      padding: 20px 25px; } }
  /* line 574, ../scss/_parts.scss */
  .keireki_plus_style02 .keireki_title {
    padding-top: 0; }

/* line 578, ../scss/_parts.scss */
.clinic_title {
  padding-bottom: 15px; }
  @media screen and (max-width: 767px) {
    /* line 578, ../scss/_parts.scss */
    .clinic_title {
      padding-bottom: 0;
      padding-top: 25px; } }
  /* line 585, ../scss/_parts.scss */
  .clinic_title img {
    width: auto;
    height: 52px;
    margin-right: 20px; }
    @media screen and (max-width: 767px) {
      /* line 585, ../scss/_parts.scss */
      .clinic_title img {
        width: auto !important;
        height: 40px;
        margin: 10px 0;
        margin-right: 15px; } }
  /* line 597, ../scss/_parts.scss */
  .clinic_title p {
    color: #278CBC; }

/* line 601, ../scss/_parts.scss */
.QA {
  margin: 30px 0 30px; }
  /* line 603, ../scss/_parts.scss */
  .QA p {
    line-height: 1.7em !important; }
  /* line 606, ../scss/_parts.scss */
  .QA .Q {
    padding: 10px; }
    /* line 608, ../scss/_parts.scss */
    .QA .Q p {
      font-size: 30px;
      color: #278CBC; }
  /* line 613, ../scss/_parts.scss */
  .QA .A {
    padding: 10px; }
    /* line 615, ../scss/_parts.scss */
    .QA .A p {
      font-size: 30px;
      color: #E5846A; }
  /* line 620, ../scss/_parts.scss */
  .QA .answer {
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 30px; }
    /* line 626, ../scss/_parts.scss */
    .QA .answer td p {
      margin-bottom: 20px; }
  /* line 631, ../scss/_parts.scss */
  .QA .answer:last-child {
    border-bottom: none; }

/* line 635, ../scss/_parts.scss */
.margin-top {
  margin-top: 20px; }

@media screen and (max-width: 767px) {
  /* line 638, ../scss/_parts.scss */
  .margin-top-sp {
    padding-top: 20px; } }

/* line 643, ../scss/_parts.scss */
.padding-top {
  padding-top: 30px; }

/* line 646, ../scss/_parts.scss */
.padding-bottom {
  padding-bottom: 50px; }

/* line 650, ../scss/_parts.scss */
.reception_graph {
  border: 1px solid #ccc;
  color: #4D4D4D;
  margin-bottom: 50px; }
  /* line 654, ../scss/_parts.scss */
  .reception_graph tr {
    border: 1px solid #ccc;
    width: 950px; }
    /* line 657, ../scss/_parts.scss */
    .reception_graph tr th {
      border: 1px solid #ccc;
      width: 150px;
      text-align: center;
      padding: 10px 0;
      background-color: #F2F2F2;
      letter-spacing: 0.1em; }
      @media screen and (max-width: 767px) {
        /* line 657, ../scss/_parts.scss */
        .reception_graph tr th {
          letter-spacing: normal; } }
    /* line 668, ../scss/_parts.scss */
    .reception_graph tr td {
      border: 1px solid #ccc;
      width: 100px;
      text-align: center;
      background-color: white;
      font-size: 13px; }
  /* line 676, ../scss/_parts.scss */
  .reception_graph .colspan_txt {
    padding: 20px 0;
    font-size: 15px;
    letter-spacing: 0.1em; }
    @media screen and (max-width: 767px) {
      /* line 676, ../scss/_parts.scss */
      .reception_graph .colspan_txt {
        line-height: 1.8em; } }
    /* line 683, ../scss/_parts.scss */
    .reception_graph .colspan_txt .saturday {
      background-color: #89C6D5;
      border-radius: 5px;
      font-size: 12px;
      color: white;
      padding: 5px 8px;
      margin: 0 8px 0 15px; }
    /* line 691, ../scss/_parts.scss */
    .reception_graph .colspan_txt .holiday {
      background-color: #E2B1AF;
      border-radius: 5px;
      font-size: 12px;
      color: white;
      padding: 5px 8px;
      margin: 0 8px 0 15px; }

/* line 701, ../scss/_parts.scss */
.saturday {
  color: #89C6D5; }

/* line 704, ../scss/_parts.scss */
.holiday {
  color: #E2B1AF; }

/* line 707, ../scss/_parts.scss */
.kobetsu_block_title {
  display: flex;
  align-items: center; }
  /* line 710, ../scss/_parts.scss */
  .kobetsu_block_title img {
    width: 60px;
    margin-right: 20px; }
    @media screen and (max-width: 767px) {
      /* line 710, ../scss/_parts.scss */
      .kobetsu_block_title img {
        width: 60px; } }
  @media screen and (max-width: 767px) {
    /* line 717, ../scss/_parts.scss */
    .kobetsu_block_title .big_txt {
      margin: 10px 0;
      font-size: 21px;
      font-weight: bold; } }

/* line 725, ../scss/_parts.scss */
.reception {
  text-align: center;
  margin-top: 30px; }

/* line 729, ../scss/_parts.scss */
.google_map {
  padding-top: 50px; }
  /* line 731, ../scss/_parts.scss */
  .google_map iframe {
    width: 950px;
    height: 500px; }
    @media screen and (max-width: 767px) {
      /* line 731, ../scss/_parts.scss */
      .google_map iframe {
        width: 100%; } }

/* line 741, ../scss/_parts.scss */
#fixedTop {
  padding-top: 6px;
  box-sizing: border-box;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #89C6D5;
  position: fixed;
  z-index: 9999;
  border-radius: 50px;
  border: 1px solid white; }
  @media screen and (max-width: 767px) {
    /* line 741, ../scss/_parts.scss */
    #fixedTop {
      width: 50px;
      height: 50px;
      right: 10px;
      bottom: 70px;
      background-color: #278CBC; } }
  /* line 769, ../scss/_parts.scss */
  #fixedTop div {
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    transform: rotate(45deg); }

/* line 780, ../scss/_parts.scss */
.header_photo {
  width: 100%; }
  @media screen and (max-width: 767px) {
    /* line 782, ../scss/_parts.scss */
    .header_photo img {
      width: 100%; } }

/* line 791, ../scss/_parts.scss */
.recruit_naiyou {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  /* line 795, ../scss/_parts.scss */
  .recruit_naiyou .recruit_category_cover {
    background-color: white;
    width: 450px;
    border-radius: 8px;
    text-align: center;
    margin-top: 135px;
    padding: 20px;
    box-sizing: border-box; }
    @media screen and (max-width: 767px) {
      /* line 795, ../scss/_parts.scss */
      .recruit_naiyou .recruit_category_cover {
        width: 100%;
        margin-top: 100px; } }
    /* line 807, ../scss/_parts.scss */
    .recruit_naiyou .recruit_category_cover img {
      width: 400px;
      border-radius: 8px; }
      @media screen and (max-width: 767px) {
        /* line 807, ../scss/_parts.scss */
        .recruit_naiyou .recruit_category_cover img {
          width: 100%; } }
    /* line 814, ../scss/_parts.scss */
    .recruit_naiyou .recruit_category_cover .recruit_category00 {
      display: flex;
      justify-content: center;
      margin-top: -90px; }
      /* line 818, ../scss/_parts.scss */
      .recruit_naiyou .recruit_category_cover .recruit_category00 .recruit_category {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        /* line 827, ../scss/_parts.scss */
        .recruit_naiyou .recruit_category_cover .recruit_category00 .recruit_category img {
          width: 60px; }
        /* line 830, ../scss/_parts.scss */
        .recruit_naiyou .recruit_category_cover .recruit_category00 .recruit_category p {
          font-size: 22px;
          color: #278CBC;
          margin-top: -50px;
          font-weight: bold; }

/* line 841, ../scss/_parts.scss */
.recruit_contact {
  text-align: center; }
  /* line 843, ../scss/_parts.scss */
  .recruit_contact .tel_cover_recruit {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      /* line 850, ../scss/_parts.scss */
      .recruit_contact .tel_cover_recruit .tel .tel_icon {
        width: 30px; }
      /* line 853, ../scss/_parts.scss */
      .recruit_contact .tel_cover_recruit .tel p {
        font-size: 20px;
        color: #4D4D4D;
        letter-spacing: 0.1em; } }
  /* line 861, ../scss/_parts.scss */
  .recruit_contact .recruit_mail_btn {
    border: 2px solid #278CBC;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #278CBC;
    letter-spacing: 0.1em; }

/* line 872, ../scss/_parts.scss */
.table-deco00 {
  border: 1px solid #ccc;
  margin: 20px 0 50px; }
  @media screen and (max-width: 767px) {
    /* line 872, ../scss/_parts.scss */
    .table-deco00 {
      width: 100%; } }
  /* line 880, ../scss/_parts.scss */
  .table-deco00 th {
    border: 1px solid #ccc;
    width: 150px;
    padding-left: 20px;
    background-color: #F2F9F9; }
    @media screen and (max-width: 767px) {
      /* line 880, ../scss/_parts.scss */
      .table-deco00 th {
        width: 100%; } }
  /* line 891, ../scss/_parts.scss */
  .table-deco00 td {
    padding: 5px 20px;
    border: 1px solid #ccc; }
    @media screen and (max-width: 767px) {
      /* line 891, ../scss/_parts.scss */
      .table-deco00 td {
        width: 100%; } }
    /* line 897, ../scss/_parts.scss */
    .table-deco00 td p {
      line-height: 1.7em !important; }
  /* line 901, ../scss/_parts.scss */
  .table-deco00 .middle_title {
    font-size: 18px;
    margin-top: 0; }

/* line 906, ../scss/_parts.scss */
.general_step {
  border: 1px solid #ccc;
  margin: 20px 0; }
  /* line 910, ../scss/_parts.scss */
  .general_step .step {
    border-bottom: 1px solid #ccc; }
    /* line 913, ../scss/_parts.scss */
    .general_step .step span {
      margin-left: 10px;
      font-size: 15px; }
    /* line 917, ../scss/_parts.scss */
    .general_step .step p:first-child {
      line-height: 1.6em !important;
      background-color: #F2F9F9;
      padding: 3px 0;
      padding-left: 20px;
      color: #278CBC;
      font-weight: bold;
      border-bottom: 1px dotted #ccc; }
    /* line 926, ../scss/_parts.scss */
    .general_step .step p:nth-child(2) {
      padding: 5px 20px;
      line-height: 1.7em !important; }
  /* line 931, ../scss/_parts.scss */
  .general_step .step:last-child {
    border-bottom: none;
    padding-bottom: 0; }
  /* line 935, ../scss/_parts.scss */
  .general_step .step:first-child {
    padding-top: 0; }

/* line 942, ../scss/_parts.scss */
.link_border {
  text-decoration: none !important;
  padding-bottom: 5px !important;
  border-bottom: 2px solid #89C6D5 !important; }

/* line 947, ../scss/_parts.scss */
.basshi {
  background-color: #F2F9F9;
  border-radius: 8px;
  padding: 15px 30px;
  margin: 20px 0 50px; }
  @media screen and (max-width: 767px) {
    /* line 947, ../scss/_parts.scss */
    .basshi {
      padding: 15px 20px; } }
  /* line 955, ../scss/_parts.scss */
  .basshi .txt_bold {
    color: #278CBC;
    font-size: 18px; }
  /* line 959, ../scss/_parts.scss */
  .basshi ol {
    list-style-type: decimal; }
    /* line 961, ../scss/_parts.scss */
    .basshi ol li {
      margin: 20px;
      line-height: 1.7em;
      padding-left: 10px; }

/* line 968, ../scss/_parts.scss */
.kobetsu_first_title {
  display: flex;
  justify-content: space-between; }
  /* line 972, ../scss/_parts.scss */
  .kobetsu_first_title .flex_between {
    padding-top: 25px; }
  /* line 975, ../scss/_parts.scss */
  .kobetsu_first_title .cost {
    width: 190px; }
  /* line 978, ../scss/_parts.scss */
  .kobetsu_first_title .kobetsu_block_title {
    width: 100%; }

/* line 983, ../scss/_parts.scss */
.kara_cost {
  width: 85px; }

/* line 987, ../scss/_parts.scss */
.byoumei {
  background-color: white;
  padding: 10px 30px;
  border-radius: 8px;
  color: #278CBC; }

/* line 997, ../scss/_parts.scss */
.check_list .txt_bold {
  color: #278CBC; }
/* line 1001, ../scss/_parts.scss */
.check_list ul li {
  line-height: 2.5em;
  margin-left: 1em;
  /*1文字分、左に寄せる*/ }
/* line 1005, ../scss/_parts.scss */
.check_list ul li:before {
  content: url("../img/check_mark.png");
  margin-left: -1em;
  margin-right: 5px; }

/* line 1013, ../scss/_parts.scss */
.check_cover {
  display: flex;
  justify-content: space-around;
  background-color: #F2F9F9;
  border-radius: 8px;
  padding: 15px 0;
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    /* line 1013, ../scss/_parts.scss */
    .check_cover {
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box; } }

/* line 1030, ../scss/_parts.scss */
.step_flex {
  display: flex;
  justify-content: space-between;
  margin: 30px 0; }
  @media screen and (max-width: 767px) {
    /* line 1030, ../scss/_parts.scss */
    .step_flex {
      flex-wrap: wrap; } }

/* line 1040, ../scss/_parts.scss */
.shinryou_step .one_step_cover {
  width: 180px; }
  @media screen and (max-width: 767px) {
    /* line 1040, ../scss/_parts.scss */
    .shinryou_step .one_step_cover {
      width: 155px; } }
  /* line 1046, ../scss/_parts.scss */
  .shinryou_step .one_step_cover .one_step .step_photo {
    position: relative; }
    /* line 1048, ../scss/_parts.scss */
    .shinryou_step .one_step_cover .one_step .step_photo .step {
      position: absolute;
      z-index: 2;
      top: -17px; }
      /* line 1052, ../scss/_parts.scss */
      .shinryou_step .one_step_cover .one_step .step_photo .step p {
        font-size: 14px;
        font-weight: bold;
        color: #2381B4; }
        /* line 1056, ../scss/_parts.scss */
        .shinryou_step .one_step_cover .one_step .step_photo .step p span {
          font-size: 22px; }
    /* line 1061, ../scss/_parts.scss */
    .shinryou_step .one_step_cover .one_step .step_photo img {
      z-index: 1;
      width: 180px;
      border-radius: 8px;
      border: 10px solid #F4F4F4;
      box-sizing: border-box; }
      @media screen and (max-width: 767px) {
        /* line 1061, ../scss/_parts.scss */
        .shinryou_step .one_step_cover .one_step .step_photo img {
          width: 155px; } }
/* line 1074, ../scss/_parts.scss */
.shinryou_step .step_txt {
  text-align: center; }
  /* line 1076, ../scss/_parts.scss */
  .shinryou_step .step_txt p {
    font-weight: bold;
    color: #2381B4; }

/* line 1082, ../scss/_parts.scss */
.s_photo_flex_txt {
  width: 600px; }
  @media screen and (max-width: 767px) {
    /* line 1082, ../scss/_parts.scss */
    .s_photo_flex_txt {
      width: 100%; } }

@media screen and (max-width: 767px) {
  /* line 1091, ../scss/_parts.scss */
  #implant .category_txt {
    width: 250px !important; } }

/* line 1098, ../scss/_parts.scss */
.koumoku_bgw {
  background-color: #F2F9F9;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 15px 0; }
  /* line 1103, ../scss/_parts.scss */
  .koumoku_bgw ol {
    list-style: decimal;
    margin-left: 20px; }
    /* line 1106, ../scss/_parts.scss */
    .koumoku_bgw ol li {
      margin: 5px 0; }

/* line 5, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../Koala.app/Contents/Resources/app.nw/rubygems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*# sourceMappingURL=style.css.map */
