/*!
 * jquery-drawer v3.2.2
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */
 @media screen and (max-width: 768px) {
   .drawer--right .drawer-hamburger {
     right: 5px;
   }}
.drawer-hamburger {
  position: static;
  top: 13px;
}
@media screen and (max-width: 768px) {
 .drawer-hamburger {
   top: 7px;
 }}
.drawer-hamburger img {
  width: 60px;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  .drawer-hamburger img  {
    width: 50px;
  }}

.drawer-nav {
  z-index: 1000;
}
#close-drawer {
  width: 45px;
  cursor: pointer;
}
.drawer-menu {
  padding: 15px;
}
.drawer-menu li {
  border-bottom: 1px solid #ccc;
  padding: 15px 5px;
}
.drawer-menu li.close {
  padding: 5px 0px;
}
.drawer-menu a {
  text-decoration: none;
  /* border-left: 2px solid #278CBC; */
  /* color: #333; */
  color: #278CBC;
  /* color: white; */
}
.drawer-menu a li:hover {
  opacity: 0.8;
  /* color: #278CBC!important; */
}
.drawer-menu a li {
  padding: 5px 0;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .drawer-menu a li p {
  color: #278CBC;
  font-weight: bold;
} */
nav .inner {
  height: 100%;
  overflow: scroll;
  /* background-color: #F2F9F9; */
  /* border-left: 5px solid white; */
  /* background-color: #BADFE5; */
  /* background-color: #E1F7F9; */
}
